body{
  background-image: url("/images/back.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 400px 30%;
  color: black;
  font-size: 18px;

}
.container{
margin-top: 3%;
}
ul{
 float: right;
}
ul > li{
  display: inline;
  margin-right: 20px;
}
ul > li > a{
  font-size: 20px;
  font-family: "Avenir", "Lucida", fantasy;
  text-decoration: none;
  color:inherit;
}
ul > li > a:hover{
  background-color: #33ccff;
  text-decoration: underline;
}
.marginTop{
  margin-top: 20%;
}