{{#partial "content"}}

    <table class="table">
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">DepartmentId</th>
            <th scope="col">Role</th>


        </tr>
        {{#each users}}
            <tr>
                <td>{{userName}}</td>
                <td>{{departmentId}}</td>
                <td>{{role}}</td>

            </tr>
        {{/each}}
    </table>

{{/partial}}

{{>layout.hbs}}